<tr{% if isLive == true %}  class="warning"{% endif %}>
    <td>{{ event.created_at|date('Y-m-d H:i') }}</td>
    <td><a href="{{ event.repo.url }}" target="_blank">{{ event.repo.name }}</a></td>
    <td>{{ event.type }}</td>
    <td><a href="{{ event.actor.url }}" target="_blank">{{ event.actor.login }}</a></td>
    <td>{{ event.payload.action }}</td>
    <td>
        <dl class="dl-horizontal">
            {% if event.payload.pull_request %}
                <dt><a href="{{ event.payload.pull_request.url }}" target="_blank">Title:</a></dt>
                <dd>{{ event.payload.pull_request.title }}</dd>
                {% if not event.payload.comment and event.payload.pull_request.body%}
                    <dt>Body:</dt>
                    <dd>{{ Markdown.convertToHtml(event.payload.pull_request.body)|raw }}</dd>
                {% endif %}
            {% elseif event.payload.issue %}
                <dt><a href="{{ event.payload.issue.url }}" target="_blank">Title:</a></dt>
                <dd>{{ event.payload.issue.title }}</dd>
                {% if not event.payload.comment and event.payload.issue.body%}
                    <dt>Body:</dt>
                    <dd>{{ Markdown.convertToHtml(event.payload.issue.body)|raw }}</dd>
                {% endif %}
            {% endif %}
            {% if event.payload.comment %}
                <dt><a href="{{ event.payload.comment.url }}">Comment:</a></dt>
                <dd>{{ Markdown.convertToHtml(event.payload.comment.body)|raw }}</dd>
            {% endif %}
            {% if event.payload.issue.labels %}
                <dt>Labels:</dt>
                <dd>
                    {% for label in event.payload.issue.labels %}
                        <span class="label label-default" style="background-color: #{{ label.color }}">{{ label.name }}</span>
                    {% endfor %}
                </dd>
            {% endif %}
        </dl>
    </td>
</tr>